# Demographic Data exercise from freecodecamp - Data Analsysis course

This cell below is where the final code will go

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv("adult.data.csv")

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df["race"].value_counts()

    # What is the average age of men?
    average_age_men = df.loc[df['sex'] == "Male"]["age"].mean()

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = (len(df.loc[df['education'] == "Bachelors"]) / len(df)) * 100

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = df.loc[(df['education'] == "Bachelors") | (df['education'] == "Masters") | (df['education'] == "Doctorate")]
    lower_education = df.loc[~(df['education'] == "Bachelors") & ~(df['education'] == "Masters") & ~(df['education'] == "Doctorate")]

    # percentage with salary >50K
    higher_education_rich = (len(higher_education.loc[df['salary'] == ">50K"]) / len(higher_education)) * 100
    lower_education_rich = (len(lower_education.loc[df['salary'] == ">50K"]) / len(lower_education)) * 100

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df["hours-per-week"].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    #All workers who work the minimum amount of hours:
    min_workers = df.loc[(df['hours-per-week'] == min_work_hours)]
    # Workers who work minimum and earn more than 50k divided by total workers who work minimum
    num_min_workers = (len(min_workers.loc[min_workers["salary"] == ">50K"]) / len(min_workers))

    rich_percentage = num_min_workers * 100

    # What country has the highest percentage of people that earn >50K?
    Percents = ((df.loc[(df['salary'] == ">50K")]["native-country"].value_counts()) / (df["native-country"].value_counts())).sort_values(ascending=False)
    highest_earning_country = Percents.index[0]
    highest_earning_country_percentage = Percents[0] * 100

    # Identify the most popular occupation for those who earn >50K in India.
    India_Rich = df.loc[(df['salary'] == ">50K")][df["native-country"] == "India"]
    top_IN_occupation = India_Rich["occupation"].value_counts().index[0]

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

df = pd.read_csv("adult.data.csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
racecount = df["race"].value_counts()

#uniquerace = race.unique() #return a list of all unique values in a pandas series.

#racecount = race.value_counts() #returns a series with the counts of each unique value

#print(df["age"].mean())

men = df["sex"]
#men.drop(labels = "Female")

print(df["sex"].value_counts())

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object
Male      21790
Female    10771
Name: sex, dtype: int64

In [83]:

# Getting a number
higher_education = (len(df.loc[df['education'] == "Bachelors"])) + (len(df.loc[df['education'] == "Masters"])) + (len(df.loc[df['education'] == "Doctorate"]))

#getting the data:
#higher_educationDF = (df.loc[df['education'] == "Bachelors"]) & (df.loc[df['education'] == "Masters"]) & (df.loc[df['education'] == "Doctorate"])
High_Educ = df.loc[(df['education'] == "Bachelors") | (df['education'] == "Masters") | (df['education'] == "Doctorate")]
Low_Educ = df.loc[~(df['education'] == "Bachelors") & ~(df['education'] == "Masters") & ~(df['education'] == "Doctorate")]

higher_education_rich = (len(High_Educ.loc[df['salary'] == ">50K"]) / len(High_Educ)) * 100
lower_education_rich = (len(Low_Educ.loc[df['salary'] == ">50K"]) / len(Low_Educ)) * 100

In [107]:
#df["hours-per-week"].values_counts()
#print(df.min()) #["hours-per-week"].value_counts())

df["hours-per-week"].min()

len(df.loc[(df['hours-per-week'] == df["hours-per-week"].min())])

20

In [104]:
len(df.loc[(df['hours-per-week'] == df["hours-per-week"].min())]) / len(df) * 100

0.0006142317496391389

In [126]:
morethanfifty = df.loc[(df['salary'] == ">50K")]["native-country"].mode()
#print(morethanfifty)

# Country with the highest number of over 50K earners
df.loc[(df['salary'] == ">50K")]["native-country"].value_counts().index.values[0]

# All countries with over 50K earners
df.loc[(df['salary'] == ">50K")]["native-country"].value_counts()

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [127]:
df["native-country"].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [135]:
((df.loc[(df['salary'] == ">50K")]["native-country"].value_counts()) / (df["native-country"].value_counts()))

?                             0.250429
Cambodia                      0.368421
Canada                        0.322314
China                         0.266667
Columbia                      0.033898
Cuba                          0.263158
Dominican-Republic            0.028571
Ecuador                       0.142857
El-Salvador                   0.084906
England                       0.333333
France                        0.413793
Germany                       0.321168
Greece                        0.275862
Guatemala                     0.046875
Haiti                         0.090909
Holand-Netherlands                 NaN
Honduras                      0.076923
Hong                          0.300000
Hungary                       0.230769
India                         0.400000
Iran                          0.418605
Ireland                       0.208333
Italy                         0.342466
Jamaica                       0.123457
Japan                         0.387097
Laos                          0.111111
Mexico                        0.051322
Nicaragua                     0.058824
Outlying-US(Guam-USVI-etc)         NaN
Peru                          0.064516
Philippines                   0.308081
Poland                        0.200000
Portugal                      0.108108
Puerto-Rico                   0.105263
Scotland                      0.250000
South                         0.200000
Taiwan                        0.392157
Thailand                      0.166667
Trinadad&Tobago               0.105263
United-States                 0.245835
Vietnam                       0.074627
Yugoslavia                    0.375000
Name: native-country, dtype: float64

In [13]:
India_Rich = df.loc[(df['salary'] == ">50K")][df["native-country"] == "India"]
India_Rich["occupation"].value_counts().index[0]

C:\Users\David\AppData\Local\Temp\ipykernel_11040\1656274501.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  India_Rich = df.loc[(df['salary'] == ">50K")][df["native-country"] == "India"]

'Prof-specialty'

In [149]:
 Percentages = ((df.loc[(df['salary'] == ">50K")]["native-country"].value_counts()) / (df["native-country"].value_counts())).sort_values(ascending=False)

In [24]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df["hours-per-week"].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    
    #All workers who work the minimum amount of hours:
num_min_workers = df.loc[(df['hours-per-week'] == min_work_hours)]

# Workers who work minimum and earn more than 50k divided by total workers who work minimum
len(num_min_workers.loc[num_min_workers["salary"] == ">50K"]) / len(num_min_workers)

0.1